<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="images/favicon.png">

	<title> Admin Pedegrin </title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

	
        
	<link href=" {{ asset('bundles/projectadminpaginas/js/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
        
      

	<link rel="stylesheet" href="  {{ asset('bundles/projectadminpaginas/fonts/font-awesome-4/css/font-awesome.min.css') }}">

	
          
	<link href="{{ asset('bundles/projectadminpaginas/css/style.css') }}" rel="stylesheet" />
        <script src="{{ asset('bundles/projectadminpaginas/js/jquery.js') }}"></script>


</head>

<body class="texture">

    {% block cuerpo %}
    
    
    
    
    
    
    {% endblock %}
    
    </body>
	




<script src="{{ asset('bundles/projectadminpaginas/js/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/projectadminpaginas/js/jquery.flot/jquery.flot.js') }}"></script>
<script src="{{ asset('bundles/projectadminpaginas/js/jquery.flot/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('bundles/projectadminpaginas/js/jquery.flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('bundles/projectadminpaginas/js/jquery.flot/jquery.flot.labels.js') }}"></script>


</body>
</html>
